.auth-form {
	display: flex;
	flex-direction: column;
	row-gap: 2em;
	width: 100%;
}

.auth-form h1 {
	align-self: center;
	text-transform: capitalize;
}

.auth-form::placeholder {
	font-size: 150px;
	color: #222;
	padding-left: 0.5em;
}

.user-password,
.user-name {
	height: 4em;
	padding: 0.5em 0.6em;
	outline: none;
	border: none;
	font-size: 15px;
}

.authentication-btn {
	background-color: #f98888;
	color: #000;
	font-size: 20px;
	text-transform: capitalize;
	padding: 15px;
	border: 0;
	outline: 0;
}

.authentication-btn:hover {
	background-color: #df7070;
}

.error {
	margin-bottom: 2rem;
	padding: 0.6em;
	font-size: 1.1em;
	color: #000000;
	background-color: #f98888;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}
