.note-form {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	min-width: 50%;
}

.notes {
	height: 15em;
	padding: 0.5em 0.6em;
	outline: none;
	border: none;
	font-size: 15px;
}

.title {
	height: 4em;
	padding: 0.5em 0.6em;
	outline: none;
	border: none;
	font-size: 15px;
}

.note-form::placeholder {
	font-size: 15px;
	color: #222;
	padding-left: 0.5em;
}

.fa-long-arrow-left {
	color: #f98888;
	font-size: 25px;
}

#submit-note-btn {
	background-color: #f98888;
	color: #000;
	font-size: 20px;
	text-transform: capitalize;
	padding: 15px;
	outline: none;
	border: 0;
	border-radius: 4px;
	box-shadow: 2px 5px 5px rgb(224, 217, 217);
}

#submit-note-btn:disabled {
	background-color: rgb(90, 83, 83);
	color: #222;
}
